{% extends 'core/layouts/base.html' %} {% load static %}

{% block meta %}
    <title>Blogposts</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
    <section class="blogposts container">
        {% if featuredPost %}
            <a href="{% url 'core:post' featuredPost.slug %}">
                <article class="blogpost featured">
                    <img class="image" src="{{ featuredPost.image.url }}" alt="{{ featuredPost.title }}" />
                    <div> 
                        <ul class="categories">
                            {% for category in featuredPost.category_set.all %}
                                <li class="item">
                                    <a class="link" href="{% url 'core:category' category.slug %}">{{ category.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <h3 class="title">
                            {{ featuredPost.title }}
                        </h3>
                        <p class="excerpt">
                            {{ featuredPost.excerpt }}
                        </p>
                        <address>
                            <ul class="metas">
                                <li class="item">
                                    <a class="link" href="#">{{ featuredPost.created_at|date:"F d, Y" }}</a>
                                </li>
                                <li class="item">
                                    <a class="link" href="#">{{ featuredPost.user }}</a>
                                </li>
                            </ul>
                        </address>
                    </div>
                </article>
            </a>
        {% endif %}
        {% if regularPosts %}
            <div class="normal">
                {% for regularPost in regularPosts %}
                    <a href="{% url 'core:post' regularPost.slug %}">
                        <article class="blogpost">
                            <img class="image" src="{{ regularPost.image.url }}"
                                alt="{{ regularPost.title }}">
                            <div>
                                <ul class="categories">
                                    {% for category in regularPost.category_set.all %}
                                        <li class="item">
                                            <a class="link" href="{% url 'core:category' category.slug %}">{{ category.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <h3 class="title">
                                    {{ regularPost.title }}
                                </h3>
                                <p class="excerpt">
                                    {{ regularPost.excerpt }}
                                </p>
                                <address>
                                    <ul class="metas">
                                        <li class="item">
                                            <a class="link" href="#">{{ regularPost.created_at|date:"F d, Y" }}</a>
                                        </li>
                                        <li class="item">
                                            <a class="link" href="#">{{ regularPost.user }}</a>
                                        </li>
                                    </ul>
                                </address>
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}